{% extends "base.html" %}
{% block title %}Clientes{% endblock %}
{% block page_content %}
<h1 style="text-align: center;">Clientes</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="/add_consumer">Adicionar Cliente</a>
        </div>
        <div class="mh-100" id="consumer_table">
            <table class="table table-striped w-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Número</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Ações</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for c, d in consumers %}
                    <tr>
                        <td scope="row">{{c.name}}</td>
                        <td scope="row">{{c.email}}</td>
                        <td scope="row">{{d.address}}</td>
                        <td scope="row">{{d.number}}</td>
                        <td scope="row">{{d.zipcode}}</td>
                        <td>
                            <a href="/edit_consumer/{{c.id}}">Editar</a>
                            <a href="/delete_consumer/{{c.id}}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="return">
    <a href="/cadastro">Voltar</a>
</div>
{% endblock %}


